{% extends "base.html" %}

{% block title %}
  
    <h2 id="pagetitle">Accueil</h2>

{% endblock %}
{% block paragraphe %}
    <section class="bdg-sect">
    <h1 class="heading">Qu'est-ce que la recherche adversariale?</h1>
    <p class="paragraph">     On s'intéresse sur cette plateforme à un type précis de jeu, celui des jeux
      d'affrontement en duel, comme par exemple les échecs. Ces jeux ont différentes particularités qui nous intéressent
      ici :
      <ul>     
        <li>L'information concernant le jeu et les possibilités de l'adversaire est constamment
          connue des deux joueurs dans leur totalité (contrairement à des jeux des cartes par exemple, où chaque joueur ne
          connaît que le contenu de sa main). Il n'est ainsi pas nécessaire de faire des paris.</li>
        <li>     L'espace des positions possibles est fini, même s'il peut être plus ou moins large en
          fonction des jeux.</li>
        <li>     Les règles sont suffisamment simples pour être apprises à une machine</li>
        <li>     Les jeux se déroulent au tour par tour </li>
      </ul>
    </p>
    <h1 class="heading">Comment utiliser le site?</h1>
    <p class="paragraph">     Cette plateforme se destine à tous les passionnés d’IA qui souhaitent débuter ou améliorer
      leurs compétences sur le thème de la recherche adversariale.
      Vous apprendrez les différents concepts par le biais de cours ainsi que d’exercices
      d’implémentation et de test des codes proposés.
      La progression s’effectuera en 3 temps. D’abord vous serez initié à la base de la base :
      l’algorithme du MiniMax avec comme application le jeu du TicTacToe. Ce sera l’occasion de se
      familiariser avec les notions d’arbres de jeux et d’heuristique.
      Ensuite, il s’agira de s’attaquer au jeu du Puissance 4 qui présente une difficulté
      supplémentaire, notamment dans l’heuristique à mettre en place. A ce moment, nous
      introduirons une amélioration de l’algorithme du Minimax : l’élagage Alpha-Beta.
      Finalement, avec toutes ces compétences, vous serez prêts à vous attaquer à un jeu plus
      compliqué : le jeu d’échecs ! </p>
    <a href="tictactoe" id="startTuto">Commencer le cours</a>
  </section>
{% endblock %}
  
  

