{% extends "base.html" %}
{% load static %}

{% block title %}
<h2 id="pagetitle">Échecs</h2>
{% endblock %}

{% block paragraphe %}

<section class="bdg-sect">
    <h1 class="bigheading">Les échecs</h1>
    <p class="paragraph">On a à présent vu tous les algorithmes nécessaires pour la programmation d'une IA qui fonctionne dans le cadre d'un jeu adapté à la recherche adversariale.</p>
    <p class="paragraph">On va maintenant s'attaquer à un jeu plus complexe, les échecs! Le jeu peut paraitre plus compliqué, mais les algorithmes utilisés seront les mêmes que pour le TicTacToe et le puissance 4. La plus grande difficulté va être de choisir une heuristique permettant d'évaluer le plateau de jeu.</p>
    <h1 class="heading">Une heuristique des échecs</h1>
    <p class="paragraph">Vous pouvez dès à présent réfléchir un peu à une heuristique pour les échecs. Quelles sont les pièces les plus importantes? Est-ce que leur position sur le plateau change leur valeur? Comment pondérer les poids des différentes pièces?</p>
    <p class="paragraph">Nous allons à présent voir une heuristique pour les échecs, qui certes n'est pas la seule et possède quelques défauts, mais qui fonctionne tout de même correctement.</p>
    <h1 class="heading">Introduction à la notation algébrique</h1>
    <p class="paragraph">Les cases d’un plateau d’échecs sont caractérisées par leurs coordonnées, ie une ligne et une colonne ; les lignes sont numérotées tandis que les colonnes sont caractérisées par des lettres. Une case du plateau est donc la combinaison d’une lettre et d’un chiffre, par exemple la dame blanche commence chaque partie sur la 1ère ligne et la 4ème colonne, soit la case d1.</p>
    <img src="{% static 'blog/img/chess/chessBoard.jpg' %}" alt="Un plateau d'échecs avec la notation utilisée" class="center"/>
    <p class="paragraph">Dans le cadre de ce cours, nous serons amenés à parler de différents coups aux échecs. Pour représenter ces coups, sans avoir à utiliser l’image d’un plateau à chaque fois, on utilise la notation algébrique : 1. d4 d5 2. c4 e6 …. (Introduction du Queen’s Gambit declined, une ouverture classique).</p>
    <p class="paragraph">Le principe est le suivant : chaque numéro représente un coup, sachant qu’un coup est toujours composé d’un mouvement des blancs puis d’un mouvement des noirs, chacun appelés demi-coups. Pour caractériser ces coups, on utilise une lettre majuscule, qui montre la pièce qui a été jouée (la notation utilisée par la suite est la convention internationale, où les noms sont en anglais ; il existe un équivalent français, où les lettres majuscules utilisées changent) ; puis on ajoute un couple composé d’une lettre minuscule et d’un chiffre, qui caractérisent la case D’ARRIVEE du coup (la lettre donne la colonne, le chiffre donne la ligne).</p>
    <table align="center">
      <tr>
        <td>Pion</td>
        <td>Pas de lettre</td>
      </tr>
      <tr>
        <td>Cavalier</td>
        <td>N (pour Knight, et parce que K sera pris)</td>
      </tr>
      <tr>
        <td>Fou</td>
        <td>B (pour Bishop)</td>
      </tr>
      <tr>
        <td>Tour</td>
        <td>R (pour Rook)</td>
      </tr>
      <tr>
        <td>Dame</td>
        <td>Q (pour Queen)</td>
      </tr>
      <tr>
        <td>Roi</td>
        <td>K (pour King)</td>
      </tr>
    </table>
    <p class="paragraph">Par exemple, si le premier coup des blancs est de bouger le pion de la dame de deux cases en avant, et que les noirs jouent le cavalier du côté du roi vers le centre, sur la 6ème colonne (Indian defense), on notera ce coup :</p>
    <p class="paragraph" align="center">1. d4 Nf6</p>
    <p class="paragraph">Il existe en plus de ces règles un grand nombre d’autres éléments nécessaires pour décrire tous les coups possible (notamment, il est parfois possible d’avoir une situation où un coup comme 6. Nd5… désigne deux mouvements possibles ; dans ce cas, on ajoute de l’information pour caractériser la case de départ de la pièce jouée, ie une lettre pour la colonne les deux pièces jouables ne sont pas sur la même colonne, ou un chiffre pour une ligne si c’est la ligne qui permet de différencier les deux pièces ; par exemple, le demi-coup ci-dessus pourrait devenir, sachant qu’on avait un cavalier en b4 et un autre en b6, 6. 4Nd5… , qui signifie donc que l’on a choisi de bouger le cavalier situé en b4) ; le lecteur intéressé pourra aller se renseigner plus sur ce système qui semble complexe à première vue, mais qui s’avère être très pratique et compact avec un peu d’habitude.<p>
    <h1 class="heading">L'heuristique</h1>
    <p class="paragraph">Dans cette heuristique, le calcul du score se fera en 2 étapes. Tout d'abord, on va associer un score à chaque type de pièce en fonction de leur importance dans le jeu. On n'oubliera pas de différencier nos pièces de celles del'adversaire en inversant leur score, afin d'avoir un score nul si les pièces sont identiquement disposées pour les deux joueurs.</p>
    <img src="{% static 'blog/img/chess/scores.png' %}" alt="Les différents scores associés à chaque pièce" class="center"/>
    <p class="paragraph">Mais cette simple évaluation est insuffisante, car en vertu de ces pondérations, l’algorithme joue tout le temps    1 …Nh6  2 …Rg8   ce qui est un début de partie incroyablement mauvais.</p>
    <p class="paragraph">Pour régler ce problème, on modifie le score des pièces basé sur leur position sur le plateau. Pour cela, on associe à chaque pièce une matrice qui contient tous les modificateurs de score associés aux cases.</p>
    <img src="{% static 'blog/img/chess/heuristic.png' %}" alt="Les différentes modifications selon l'emplacement de la pièce" class="center"/>
    <p class="paragraph">Grâce à ces modifications, l’algorithme se comporte beaucoup mieux, et va jouer des débuts de partie corrects et voit des clouages.</p>
    <p class="paragraph">Il reste tout de même un certain nombre de faiblesses dans l’état actuel, notamment vis-à-vis d’une situation où on a un pion en h3, et que le fou noir a la possibilité de le prendre ; c’est un très mauvais coup que de prendre le pion car la tour ou le pion en g2 peuvent reprendre le fou ce qui se termine en un échange perdant pour l’IA, mais l’ordinateur effectue très souvent ce coup, ce qui met en évidence une limite de l’algorithme.</p>
    <p class="paragraph">Autre problème plus théorique : les matrices de pondération ont un axe de symétrie, ce qui est complètement faux car le plateau d’échecs, comme cela peut se voir en jouant un peu, n’est ABSOLUMENT PAS symétrique (voir la simple différence entre les parties commençant par 1. d4 et celles commençant par 1. e4).</p>
    <p class="paragraph">De plus, la bibliothèque python utilisée par l’algorithme comprend un grand nombre de fonctions renvoyant des informations qui pourraient être utilisées pour améliorer l’algorithme. Cela donne donc des pistes d’amélioration.</p>
  </section>
  
{% endblock %}
