{% extends "base.html" %}
{% load static %}

{% block title %}
  
<h2 id="pagetitle">Explication MinMax</h2>

{% endblock %}
{% block paragraphe %}


  <section class="bdg-sect">
    <h1 class="heading">Exemple de MiniMax</h1>
    <p class="paragraph">On parcourt l'arbre en profondeur et on applique l'heuristique au noeud terminal. Ensuite, on remonte les noeuds parents
    jusqu'à avoir plusieurs possibilités de jeu.</p>
    <img src="{% static 'blog/img/tictactoe/Diapositive8.jpeg' %}" alt="" class="center"/>
    <p class="paragraph">Ici, plusieurs choix sont possibles, on
    prend le maximum des noeuds fils (maximiser notre score), sinon on prend le minimum (minimiser le score de l'adversaire). </p>
<img src="{% static 'blog/img/tictactoe/Diapositive7.jpeg' %}" alt="" class="center"/>
    <p class="paragraph">On effectue ensuite les mêmes opérations sur tous les choix possibles jusqu'à ce que l'arbre soit entièrement parcouru.</p>
<img src="{% static 'blog/img/tictactoe/Diapositive6.jpeg' %}" alt="" class="center"/>
    <p class="paragraph">Ici, pour maximiser notre score, il faut faire la première action, qui ne pourra mener au mieux qu'à un match nul (score de 0).</p>
    <p class="paragraph"><a href="/tictactoe">Retour à la page du TicTacToe</a></p>
  </section>

{% endblock %}
