{% extends "base.html" %}
{% load static %}

{% block title %}
{% endblock %}

{% block paragraphe %}
  <section class="bdg-sect">
    <h1 class="bigheading">Elagage &alpha;-&beta;</h1>
    <p class="paragraph">Cet algorithme s'appuie sur une sorte de "mémoire" permettant d'estimer quelles sont les situations que l'on peut atteindre depuis notre noeud. Cette mémoire est représentée par un intervalle (&alpha;,&beta;) qui est mis à jour avec le parcours des noeuds.</p>
    <p class="paragraph">Avant de décrire formellement cet algorithme, qui est un peu plus compliqué que le MiniMax, nous allons voir son fonctionnement à travers un exemple. Pour celà, on commence à partir d'une grille, et on initialise (&alpha;,&beta;)=(-&infin;+&infin;).</p>
    <img src="{% static 'blog/img/pruning/pruning1.JPG' %}" alt="Notre situation de départ" class="center"/>
    <p class="paragraph">On parcourt ensuite l'arbre comme pour le MiniMax, jusqu'à atteindre une grille mettant fin au jeu.</p>
    <img src="{% static 'blog/img/pruning/pruning4.jpg' %}" class="center"/>
    <p class="paragraph">Ici, le plateau a une heuristique de +1. On souhaite maximiser notre score à ce moment car c'est à nous de jouer, donc à ce noeud, on va retenir la situation qui nous arrange le plus en "retenant" l'heuristique dans $alpha;. Dans chaque situation similaire, &alpha; changera de valeur et vaudra le maximum des heuristique ou des &beta; des noeuds fils.</p>
    <img src="{% static 'blog/img/pruning/pruning5.jpg' %}" class="center"/>
    <p class="paragraph">Il faut maintenant terminer de parcourir cette branche pour mettre à jour le noeud supérieur. On continue alors jusqu'à une situation mettant fin au jeu.</p>
    <img src="{% static 'blog/img/pruning/pruning8.jpg' %}" class="center"/>
    <p class="paragraph">La situation est la même que la précédente, donc on met à jour les &alpha;, qui valent ici 0.</p>
    <img src="{% static 'blog/img/pruning/pruning8.jpg' %}" class="center"/>
    <p class="paragraph">Ensuite, on est sur un noeud correspondant au jeu de l'adversaire, il va chercher à minimiser notre score, donc on va stocker dans &beta; la valeur qui minimise notre score (celle qui arrange l'adversaire, son coup le plus logique), ici 0.</p>
    <img src="{% static 'blog/img/pruning/pruning9.jpg' %}" class="center"/>
    <p class="paragraph">On stocke enfin en mémoire dans notre noeud parent le meilleur coup que l'on puisse obtenir dans &alpha;, car il s'agit de la borne supérieure du score (l'heuristique) que l'on peut espérer obtenir dans les branches que l'on a déjà parcourues. On avance ensuite dans la branche suivante en retenant le meilleur score que l'on a déjà, on conserve donc (&alpha;,&beta;).</p>
    <img src="{% static 'blog/img/pruning/pruning11.jpg' %}" class="center"/>
    <p class="paragraph">On arrive enfin à une situation de fin de jeu, ici perdante pour nous donc d'heuristique -1.</p>
    <img src="{% static 'blog/img/pruning/pruning12.jpg' %}" class="center"/>
    <p class="paragraph">Ici, en mettant à jour &beta;, notre intervalle (&alpha;,&beta;) va être vide, donc on va arrêter de parcourir cette branche, celle-ci nous étant défavorable. En effet, l'adversaire va chercher à minimiser notre score à cette étape, donc il va emprunter une branche minimisant notre score. Comme il a une possibilité de réduire notre score plus bas que ce que l'on a calculé dans la première branche, il est inutile de continuer les calculs dans la deuxième branche, le meilleur score que l'on puisse espérer étant inférieur au score le plus faible d'une autre branche.</p>
    <img src="{% static 'blog/img/pruning/pruning13.jpg' %}" class="center"/>
    <p class="paragraph">Ici, l'exemple était simple et ne réduit que très peu les calculs, mais sur des jeux plus complexes, celà peut couper entièrement des branches plutôt gourmandes en calculs, ce qui en fait une amélioration non négligeable du MiniMax.</p>
    <p class="paragraph">L'élagage s'est ici fait au niveau d'un coup de l'adversaire, mais il peut aussi se faire sur un de nos coups, lorsque par exemple le meilleur coup de la branche à déjà été parcouru au début.</p>
    <p class="paragraph"><a href="tictactoe">Retour à la page du TicTacToe</a></p>
  </section>
{% endblock %}
