{% extends "base.html" %}
{% load static %}

{% block title %}
  
    <h2 id="pagetitle">Inscrivez-vous</h2>

{% endblock %}


 {% block form %}
  <h2 label="title-signup">Sign up</h2>
  <form method="post" class ="register-form">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Sign up</button>
  </form>
{% endblock %}
