{% extends "base.html" %}
{% load static %}

{% block title %}
  
<h2 id="pagetitle">TicTacToe</h2>

{% endblock %}
{% block paragraphe %}
<section class="bdg-sect">
    <h1 class="bigheading">TicTacToe</h1>
    <p class="paragraph">     Vous connaissez tous le jeu du TicTacToe, et nous allons programmer une IA pour ce jeu dans cette section ! Avant de voir exactement comment va fonctionner notre IA, nous devons aborder quelques points de
      vocabulaire.</p>
    <img src="{% static 'blog/img/tictactoe/tic-tac-toe-image.png' %}" alt="La fameuse grille de TicTacToe" class="center"/>
    <h1 class="heading">Arbre de jeu</h1>
    <p class="paragraph">     Il faut donc introduire correctement le système de représentation standard que l'on va utiliser tout au long de ce cours : les arbres. L'idée de cette représentation est de partir de la position initiale, qui sera la
      racine de l'arbre, et ensuite de tracer des branches qui amènent à de nouveaux plateaux de jeux, qui seront représentés par des noeuds. Puis de chacun de ces nouveau noeuds, on trace les prochaines branches en suivant le même principe jusqu'à
      avoir couvert toutes les positions possibles. Par exemple, voici ce à quoi ressemble un arbre (incomplet bien sûr) pour le TicTacToe :</p>
      <figure>
    <img src="{% static 'blog/img/tictactoe/arbreTTT.png' %}" alt="Un exemple d'arbre de jeu" class="center" />
    <center class="legend">Un exemple d'arbre de jeu</center>
  </figure>
  <p class="paragraph">Pour en savoir plus sur comment cet arbre a été créé, <a
      href="tictactoe/treeexp">cliquez ici</a>.</p>
    <h1 class="heading">Heuristique</h1>
    <p class="paragraph">     L'objectif de notre IA va être de déterminer à partir de l'arbre précédemment décrit, comment gagner la partie. Pour celà, il va falloir être capable de donner un "score" à chaque position de l'arbre, afin de savoir
      quelle position est la meilleure. L'heuristique doit alors être positive si le noeud est favorable au joueur qui va jouer et doit être négative le cas contraire. Le problème est donc de trouver un moyen d'évaluer les noeuds pour leur attribuer
      ce score. C'est ce point qui va déterminer l'efficacité de notre algorithme, et où l'optimisation peut se faire</p>
      <p class="paragraph">Dans le cas du TicTacToe, cette heuristique est assez facile à définir car l’arbre étant de profondeur maximale 9 (9 coups au total seront joués), une feuille correspondra à un état final de la partie: soit Max a gagné, soit Min, soit il y a match nul.</p>
      <p class="paragraph">Puisqu’il faut maximiser le score de Max, si on aboutit à une feuille gagnante pour lui, on lui affectera la valeur +1 et réciproquement pour Min à qui on affectera -1 s’il est gagnant (rappel: on a bien un jeu à somme nulle: +1 -1 = 0).</p>
      <figure>
      <img src="{% static 'blog/img/tictactoe/heuristiques.jpeg' %}" alt="" class="center" />
      <center class="legend">Ici les heuristiques en considérant les croix</center>
      </figure>
    <h1 class="heading">Algorithme de jeu : le MiniMax</h1>
    <p class="paragraph"> Muni d’un arbre et d’une heuristique, il est maintenant possible de faire un algorithme de résolution. La première idée est celle de l’algorithme minimax, qui consiste comme son nom l’indique, à alterner entre les deux joueurs et à
      chercher à maximiser ou à minimiser le score de la position dans laquelle le jeu se situe, de manière à obtenir la position la plus avantageuse.Pour cela, il faut parcourir l’arbre en profondeur, en jouant un certain nombre de coups en avance. </p>
    <p class="paragraph"> Avant de se lancer dans les différentes étapes de ce cours, ouvrez le Collaboratory suivant: </p>
    <a href="https://colab.research.google.com/drive/1ZbhX9AQEm8VcVvnzJnGdg2CC5NFknzoi#scrollTo=CM06eTm2joRq" id="lienColab" onclick="window.open(this.href); return false;"> Collaboratory </a>
    <p class="paragraph"> Ce lien te permettra d’exécuter des morceaux de codes (nous t’indiquerons quand le faire) ainsi que t’exercer. </p>
    <p class="paragraph"> Nous allons ainsi nous intéresser au jeu bien connu du TicTacToe: sur le Collaboratory, la classe TicTacToe permet de définir les différentes règles du jeu. Exécutez la cellule correspondante! </p>
    <p class="paragraph"> Une fois le jeu bien défini, nous allons nous intéresser à un algorithme intelligent capable de jouer, et même de gagner, au jeu du TicTacToe: le plus simple est l’algorithme du MiniMax. </p>
    <p class="paragraph"> Il s’agit d’un algorithme récursif qui permet de décider du prochain coup à jouer.Pour rappel, on travaille avec des jeux à deux joueurs: nous dirons que le jeu est à somme nulle,c’est-à-dire que si on affecte au joueur 1 un score de X alors le joueur 2 aura un score Y tel que X+Y = 0.</p>
    <p class="paragraph"> Pour l’algorithme Minimax et dans toute la suite, on ne parlera plus de joueur 1 et de joueur 2 mais de joueur Max et de joueur Min(vous serez le joueur Max et l’ordinateur est le joueur Min). </p>
    <p class="paragraph"> L’idée globale du MiniMax est qu’à chaque tour, on va essayer de maximiser le score de Max et de minimiser celui de Min. Ainsi l’algorithme va itérer sur les coups possibles, c’est-à-dire qu’il parcourt l’arbre de jeu, jusqu’à arriver à une feuille et calcule le score correspondant à la situation du jeu. Une feuille est définie soit comme une situation finale (victoire, match nul) ou parce qu’on a décidé que nous n’explorons pas tout l’arbre: c’est la notion de profondeur. Ainsi par exemple, si nous décidons d’aller à une «profondeur 5», on impose à l’algorithme de ne «prévoir que 5 coups à l’avance». </p>
    <h1 class="heading">L'algorithme en pratique</h1>
    <p class="paragraph"> Pour voir l'algorithme en situation sur l'arbre présenté plus haut, <a href="tictactoe/minmaxexp">cliquez ici</a>.</p>

<p class="paragraph">Cette algorithme est très pratique lorsque le jeu permet de parcourir toutes les branches en un temps raisonnable, toutefois, celà n'est pas toujours le cas, c'est pour celà qu'il existe une amélioration possible de cette algorithme, l'élagage alpha-beta !</p>
    <h1 class="heading">L'élagage &alpha;-&beta;</h1>
    <p class="paragraph">Cet algorithme se base sur l'algorithme du MiniMax, mais avec une amélioration permettant de ne pas parcourir la totalité des noeuds. Il s'agit de "couper" les branches où le meilleur des cas est pire que le plus mauvais ayant déjà été calculé dans une autre branche. Il n'est alors pas nécessaire d'effectuer tous les calculs dans cette branche, et on explore immédiatement la branche d'après.</p>
    <p class="paragraph">Le principe de cet algorithme est décrit sur <a
        href="pruning">cette page</a>. Il n'est pas essentiel, mais permet d'optimiser notre IA afin qu'elle soit plus réactive !</p>
    <p class="paragraph"> Comme vous avez pu le voir, cette algorithme est plutôt puissant. Il est maintenant temps de l'expérimenter sur un autre jeu, le puissance 4.</p>
    <a href="connectfour" class="liens"> Passer au cours suivant.</a>


  </section>

{% endblock %}
