{% extends "base.html" %}
{% load static %}

{% block title %}
  
<h2 id="pagetitle">Explications sur les arbre</h2>

{% endblock %}
{% block paragraphe %}


  <section class="bdg-sect">
    <h1 class="heading">Création de l'arbre</h1>
    <p class="paragraph">On va voir ici comment créer un arbre en partant d'une grille de jeu d'une partie de TicTacToe.</p>
    <img src="{% static 'blog/img/tictactoe/Diapositive1.jpeg' %}" alt="" class="center"/>
    <p class="paragraph">C'est au tour des croix de jouer, on considère alors toutes les possibilités de jeu.</p>
<img src="{% static 'blog/img/tictactoe/Diapositive2.jpeg' %}" alt="" class="center"/>
    <p class="paragraph">C'est ensuite au tour des ronds de jouer, on effectue alors le même processus.</p>
<img src="{% static 'blog/img/tictactoe/Diapositive3.jpeg' %}" alt="" class="center"/>
    <p class="paragraph">Et on termine enfin pour chaque grille de jeu qui n'ont pas mené à une fin de jeu (comme la troisième et sixième grille).</p>
<img src="{% static 'blog/img/tictactoe/Diapositive4.jpeg' %}" alt="" class="center"/>
    <p class="paragraph"><a href="/tictactoe">Retour à la page du TicTacToe</a></p>
  </section>

{% endblock %}
