<!doctype html>
<html lang="fr">
{% load static %}
  <head>


    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" 
    content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet"
    href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
    crossorigin="anonymous">

    <link rel="stylesheet" href="{% static 'blog/css/style.css' %}">
    <link rel="icon" href="{% static 'blog/img/logoAdversarial.ico' %}" />


    <title>AdversarIAle</title>
  </head>
  <body>

  

      <div class="page-header">
            <a href="/"><img src="{% static 'blog/img/ianetwork.jpeg' %}"
                id="imagetitle" ></a>
            </div>
  
    

  <nav class="navbar navbar-expand-lg sticky-top navbar-light"
      style="background-color: #e3f2fd; display:flex;">
  

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
          <a class="nav-link" href="/">Accueil <span 
                  class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/about">À propos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/signin">Connexion</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="" id="navbarDropdown" 
            role="button" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">
          Menu
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/tictactoe">TicTacToe</a>
          <a class="dropdown-item" href="/pruning">Elagage alpha-beta</a>
          <a class="dropdown-item" href="/connectfour">Puissance 4</a>
          <a class="dropdown-item" href="/chess">Échecs</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item"
          href="colab" onclick="window.open(this.href); return false;">Lien Colaboratory</a>
        </div>
      </li>
      </ul>

        <form class="form-inline my-2 my-lg-0">

            <a id="headlogo" href="/"><img src="{% static 'blog/img/webadversariale.png' %}"
                                           id = "headlogo"></a>

      <form class="form-inline my-2 my-lg-0">
        {% if user.is_authenticated %}          
            <a id="connected" href="/signin">Vous êtes connecté, {{ user.username }} !</a>          
          
        {% endif %}
      </form>

      
      
      
    
    
  </div>
</nav>
<!--
<div>
{% block title %}
  
    <h2 id="pagetitle">Base</h2>
  
  {% endblock %}
</div>
-->

{% block paragraphe %}
  
    
  
  {% endblock %}
</div>
<div>
{% block form %}
{% endblock %}
</div>



 
  

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>

  
</html>
